<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
<h2>Login</h2>

<form action="/login" method="post">
    <input type="text" name="username" placeholder="Username" required><br>
    <input type="password" name="password" placeholder="Password" required><br>

    <div class="error" th:if="${error}">
        <p th:text="${error}"></p>
    </div>

    <button type="submit">Login</button>
</form>

<p>You dont have account yet?? <a href="/register">Register</a></p>
</body>
</html>
